@import "../../../constants.scss";

.password-gen-input {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    background: $secondary-color;
    color: #191717;
    font-size: 18px;
    padding: 5px 5px;

    input {
        width: 95%;
        border: none;
        border-radius: 5px;
        color: $primary-color;
        font-weight: bold;

        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .password-gen-input {
        width: 95%;
    }
}