.password-gen-plane {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 65px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1b4068;
    width: 400px;
    height: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.password-gen-block {
    margin: 20px 0px;
}

.password-gen-button {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #b08d25;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    width: 400px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.password-gen-button:hover {
    background-color: #695311;
}


.password-gen-input {
    margin: 0 auto;
    width: 370px;
    display: flex;
    ;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background: #ffffff;
    color: #191717;
    font-size: 18px;
    padding: 5px 10px;

}

.password-gen-input input {
    width: 80%;
    border: none;
    border-radius: 5px;
    color: #B08C25;
    font-weight: bold;
}

.password-gen-input input:focus {
    outline: none;
}

.password-gen-copy-icon {
    cursor: pointer;
    color: #B08C25;
}

.password-gen-copy-icon:hover {
    color: #ebbc3d;
}